@media (min-width: 250px)
{	
	/*button*/
	.storebtn
	{
		width:100%;
		margin:10px auto;
	}
	.product > .btn
	{
		width:100%;
		margin:15px auto;
	}
	.second > div > .btn
	{	width:45%;
		margin: 10px 1.25%;
	}
	.third > div > .btn 
	{
		width:45%;
		margin: 10px 1.25%;
	}
	.product_bundle > .btn , .product_addon > .btn{
		width:100%;
		margin-top:3%;
	}
	
	/*tab*/
	.tab {
		width:100%;
		text-align: center;
		font-size:20px;
		margin: 2% auto;
	}
	.tabs > .nav {
		width:100%;
		margin: auto;
	}

	/*top left img text*/
	.img_top{
		text-align: center;	
	}

	.text_top{
		text-align: left;	
		font-size: 13px;
		padding-left: 2%;
	}
	/*some adjustment*/
	.col-xs-7 {
		padding-left:5px;
	}
	.col-xs-5 {
		padding-right: 5px;
	}

	/*font */
	.product_bundle > h2, .product_addon > h2{
		padding-bottom: 2%;
		border-bottom: 1px black solid;
		text-align: center;
	}

	.product_bundle > div > div > p{
		font-size: 13px;
	}	

	.text_top > p {
		 text-indent: -6px;
		 margin:0px;
		 font-size:10px;
	}


	/*down image*/
	.bundle_pic > div > a > img, .addon_pic> div > a > img {
		margin-top: 5%;
	}

	.text_top > div	 {
		text-indent: -2%;	
	}

}

@media (min-width: 600px)
{
	/*button*/
	.storebtn
	{
		width:100%;
		margin:10px auto;
	}
	.product > .btn
	{
		width:100%;
		margin:15px auto;
	}
	.second > div > .btn
	{	width:45%;
		margin: 10px 1.25%;
	}

	.third > div > .btn 
	{
		width:45%;
		margin: 10px 1.25%;
	}
	.text_top > div	 {
		text-indent: 0%;	
	}

	/*top left img text*/
	.img_top{
		text-align: center;	
	}

	.text_top{
		text-align: left;	
		font-size: 13px;
		padding-left: 12%;
	}
	/*some adjustment*/
	.col-xs-7 {
		padding-left:5px;
	}
	.col-xs-5 {
		padding-right: 5px;
	}
}

@media (min-width:768px) and (max-width:992px)
{	
	/*button */
	.storebtn
	{
		width:115;
		margin-right:10px;
		font-size:15px;
	}

	.product > .btn
	{
		width:115;
		position: absolute;
		left:275px;
	}
	.second > div > .btn
	{	
		width:115;
		margin:0px 10px 0px 0px;
	}

	.third > div > .btn
	{	
		width:115;
		margin:0px 10px 0px 0px;
	}
	/*top left img text*/
	.img_top{
		text-align: left;	
	}

	.text_top{
		text-align: left;	
		font-size: 12px;
		padding-left: 8%;
	}

	.text_top > div	 {
		text-indent: -2%;	
	}
	/*down img*/

}

@media (min-width: 992px) 
{	
	/*button */
	.storebtn
	{
		width:120;
		margin-right:10px;
		font-size:15px;
	}

	.product > .btn{
		width:120;
		position: absolute;
		left:260px;
	}
	.second > div > .btn
	{	
		width:120;
		margin:0px 10px 0px 0px;

	}
	.third > div > .btn
	{	
		width:120;
		margin:0px 10px 0px 0px;
	}

	/*top left img text*/
	.img_top{
		text-align: left;
		margin-left: 3%;	
	}

	.text_top{
		text-align: left;	
		padding-left: 8%;
		font-size:13px;
	}

	.text_top > div	 {
		text-indent: -2%;	
	}
	/*some adjustment */
	.col-lg-5 {
		padding-left: 0px;
	}

}

@media (min-width:1300px)
{	
	/*button */
	.storebtn
	{
		width:160;
		margin-right:5px;
	}
	.product > .btn{
		width:160;
		position: absolute;
		left:335px;
	}
	.second > div > .btn
	{	
		width:160;
		margin:0px 5px 0px 0px;
	}

	.third > div > .btn
	{	
		width:160;
		margin:0px 5px 0px 0px;
	}

	/*top left img text*/
	.img_top{
		text-align: left;
		margin-left: 13%;	
	}

	.text_top{
		text-align: left;	
		padding-left: 18%;
		font-size: 14px;
	}
	.text_top > div	 {
		text-indent: 0%;	
	}
}

@media (min-width: 1550px) 
{	
	/*button */
	.storebtn
	{
		width: 180;
		margin-right:10px;
	}

	.product > .btn{
		width:180;
		position: absolute;
		left:385px;
	}
	.second > div > .btn
	{	
		width:180;
		margin:10px 10px 10px 0px;
	}

	.third > div > .btn
	{	
		width:180;
		margin:10px 10px 10px 0px;
	}

	/*top left img text*/
	.img_top{
		text-align: left;
		margin-left: 18%;	
	}
	.text_top{
		text-align: left;	
		padding-left: 21%;
		font-size: 17px;
	}
	.text_top > div	 {
		text-indent: 0%;	
	}
	.img_top > a > img, .bundle_pic > div > a > img, .addon_pic> div > a > img{
		width:80%;
	}

	.product {
		margin-top: 2%;
	}
}



.first, .second > div, .third > div{
	margin-left: 1px;
}

.first> .btn{
	border-width: 2px;
	background-color: white;
}

.first >.btn:hover{
	outline:none;
	background-color:transparent;
	border-color: #ccc;
}

.second >div > .btn:hover{
	outline:none;
	background-color:transparent;
	border-color: #ccc;
}

.second > div  > .btn{
	border-color: #ccc;
	border-width: 2px;
	background-color: white;
}

.third > div> .btn{
	border-color: #ccc;
	border-width: 2px;
	background-color: white;
}

.third > div> .btn:hover{
	outline:none;
	background-color:transparent;
	border-color: #ccc;
}

.product > span {
	font-size:15px;
	font-family: sans-serif;
	margin-right: 5px;
}

hr {
	height:2px;
}

.body1 > .container-fluid{
	margin-top:3%;
}
